body {
    margin:0;
    font-family: 'Oswald', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    color: aliceblue;
    background: url(shaper.png) #e8631c;

     }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}
.logo{

  float: left;
}

li {  
  float: left;
}
.search{
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #303030;
}

.active {
  background-color: #303030;
  margin-left: 420px;
}
.div1 {
  height: 800px; 
  width: 100%;
  background:url(background.jpg) no-repeat;
  background-size:cover;
  position: absolute;
  top: 55px; 

}
.div2 {
  height: 963px;
  width: 100%;
  position: absolute;
  top:855px;

}
.ncard{
  float: left;
  width: 26%;
  height: 45%;
  margin: 3.5%;
  background-color: #303030;
  color: aliceblue;
  font-family: 'Bitter', serif;
  font-size: 23px;
  
}
.div3 {
  height: 900px;
  width: 100%;
  position: absolute;
  top: 1818px;
  background-color: #303030;
}
.pricebut {
  background-color: #303030;
  color: aliceblue;
  padding: 15px 110px;
}
.div4 {
  height: 900px;
  width: 100%;
  position: absolute;
  top: 2718px;
  background-color: #e8631c;
}
.div4X {
  height: 900px;
  width: 50%;
  position: relative;
  background-color: #e8631c;
  float: right;
}
.div5 {
  height: 900px;
  width: 100%;
  position: absolute;
  top: 3618px;
  background-color: #e8631c;
}
.div5X {
  height: 900px;
  width: 50%;
  position: relative;
  background-color: #e8631c;
  float: left;
}
.div6 {
  height: 1000px;
  width: 100%;
  position: absolute;
  top: 4518px;
  background-color: #303030;
}
.div6X {
  position: relative;
  float: left;
  padding-left:  9%;
  padding-right: 9%;
}
.div7 {
  height: 1000px;
  width: 100%;
  top: 5518px;
  background: url(6thCard.jpg) no-repeat;
  background-size: cover;
  position: absolute;
}
.div8 {
  height: 500px;
  width: 100%;
  top: 6463px;
  position: relative;
}
input{
  border: none;
}
.div9 {
  height: 500px;
  width: 100%;
  top: 7063px;
  position: absolute;
  background-color: #303030;
}
.div9X {
 margin-top: 6%; 
 position: relative;
 float: left;
 margin-left: 5%;

}
a {
  text-decoration: none;
}